function Main.main 5
call TetrisGame.new 0
pop local 3
call Row.new 0
pop local 0
push constant 1
call LCGRandom.setSeed 1
pop temp 0
push local 3
call TetrisGame.drawGameBoard 1
pop temp 0
label WHILE_EXP0
push local 2
push constant 81
eq
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 2
push constant 1
push constant 5
call LCGRandom.randRange 2
pop local 1
push local 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call TetrisGame.dropSquare 1
pop temp 0
label IF_FALSE0
push local 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
call TetrisGame.dropStraightPiece 1
pop temp 0
label IF_FALSE1
push local 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
call TetrisGame.dropThreePiece 1
pop temp 0
label IF_FALSE2
push local 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 3
call TetrisGame.dropLPiece 1
pop temp 0
label IF_FALSE3
push local 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
call TetrisGame.dropZPiece 1
pop temp 0
label IF_FALSE4
push local 0
call Row.getNumFull 1
pop temp 0
push local 0
call Row.clear 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
